.button {
    background-color: var(--orange);
    color: var(--white);
    font-weight: 600;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.button:hover {
    transition: 0.4s;
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.2);
}

.padding-sm {
    padding: 9.5px 17px;
}

.padding-lg {
    padding: 9px 25px;
}

.burger {
    display: block;
    position: relative;
    width: 13px;
    height: 12px;
    margin-right: 10px;
}

.burger::before, .burger::after {
    content: '';
    position: absolute;
    background-color: var(--white);
    width: 100%;
    height: 1.5px;
    left: 0;
    border-radius: 5px;
}

.burger::before {
    top: 0;
}

.burger::after {
    bottom: 0;
}

.burger span {
    position: absolute;
    background-color: var(--white);
    width: 100%;
    left: 0;
    height: 1.5px;
    top: 5.5px;
    border-radius: 5px;
}